body {
    background-color: #f8f9fa; /* Cor de fundo clara */
}

.container {
    margin-top: 50px; /* Espaçamento superior */
}

.btn-primary {
    background-color: #007bff; /* Cor de fundo do botão primário */
    border-color: #007bff; /* Cor da borda do botão primário */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse sobre o botão primário */
    border-color: #0056b3; /* Cor da borda ao passar o mouse sobre o botão primário */
}

.btn-success {
    background-color: #28a745; /* Cor de fundo do botão de sucesso */
    border-color: #28a745; /* Cor da borda do botão de sucesso */
}

.btn-success:hover {
    background-color: #218838; /* Cor de fundo ao passar o mouse sobre o botão de sucesso */
    border-color: #218838; /* Cor da borda ao passar o mouse sobre o botão de sucesso */
}

/* Adicione mais estilos conforme necessário */
